@charset "UTF-8";
/* CSS Document */



/* ---------   Fonts   -------- */

@font-face {
    font-family: 'Circular Light';
    src: url('../fonts/CircularStd-Light.woff2') format('woff2'),
        url('../fonts/CircularStd-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Bold';
    src: url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}





/* ---------   Default Overrides   -------- */

html {
  overflow-x: hidden !important;
  width: 100vw;
}
img, video {
  width: 100%;
}
body {
  margin: 0;
  background-color: #000;
  overflow-x: hidden;
}
::selection {
  background: #999999;
}
::-moz-selection {
  background: #999999;
}





/* ---------   Text Styles   -------- */

h1, h2, h3, p, a {
  color: #fff;
  font-family: 'Circular Light';
  font-size: 2vw;
  line-height: 1.35;
  margin-bottom: 1.5vw;
}
    @media (max-width: 600px) {
      h1, h2, h3, p, a {
        font-size: 20px;
        margin-bottom: 3vw;
      }
    }
    @media (min-width: 1801px) {
      h1, h2, h3, p, a {
        font-size: 36px;
      }
    }


.text-small {
  color: #fff;
  font-family: 'Circular Light';
  font-size: 1.5vw;
  line-height: 1.4;
  margin-bottom: 1.5vw;
}
    @media (max-width: 600px) {
      .text-small {
        font-size: 16px;
        margin-bottom: 3vw;
      }
    }
    @media (min-width: 1801px) {
      .text-small {
        font-size: 33px;
      }
    }


.text-tag {
  color: #fff;
  font-family: 'Circular Bold';
  font-size: 1.2vw;
  line-height: 1;
  text-transform: uppercase;
}
    @media (max-width: 600px) {
      .text-tag {
        font-size: 12px;
      }
    }
    @media (min-width: 1801px) {
      .text-tag {
        font-size: 18px;
      }
    }



.name {
  display: inline;
}
@media (max-width: 600px) {
  .home-link {
  margin-bottom: 18vw;
}
}
.text-faded {
  color: #999999;
}
.text-black {
  color: #000;
}
.text-project {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
    @media (max-width: 600px) {
      .text-project {
        margin-top: 3vw;
        margin-bottom: 3vw;
      }
    }
.text-padding-right {
  padding-right: 20%;
}



.text-link, .text-link:hover {
  border-bottom: 2px solid;
  border-bottom-color: #FFF;
  margin-bottom: 0.5vw;
}
.text-link:hover {
  color: #DFDFDF;
  border-bottom: 2px solid;
  border-bottom-color: #DFDFDF;
  text-decoration: none;
}

.text-link-black, .text-link-black:hover {
  border-bottom: 2px solid;
  border-bottom-color: #000;
  margin-bottom: 0.5vw;
}
.text-link-black:hover {
  color: #5F5F5F;
  border-bottom: 2px solid;
  border-bottom-color: #5F5F5F;
  text-decoration: none;
}

.text-link-no-line {
  border-bottom: 0px;
}


.menu-link {
  display: inline;
  float: right;
}
.menu-link-margin {
  margin-left: 2vw;
}
    @media (max-width: 600px) {
      .menu-link {
        display: inline;
        float: left;
      }

      .menu-link-margin {
        margin-left: 0vw;
        margin-right: 2vw;
      }
    }






/* ---------   Layout   -------- */

.container-fluid {
  max-width: 1800px;
}


.header {
  padding: 6vw;
}
    @media (max-width: 600px) {
      .header {
        padding: 6vw;
        padding-top: 9vw;
        padding-bottom: 18vw;
      }
    }
    @media (min-width: 1801px) {
      .header {
        padding: 108px;
      }
    }


.intro {
  padding: 6vw;
}
    @media (max-width: 600px) {
      .intro {
        padding: 6vw;
        padding-bottom: 18vw;
      }
    }
    @media (min-width: 1801px) {
      .intro {
        padding: 108px;
      }
    }


.work {
  padding: 6vw;
}
    @media (max-width: 600px) {
      .work {
        padding: 6vw;
        padding-bottom: 18vw;
      }
    }
    @media (min-width: 1801px) {
      .work {
        padding: 108px;
      }
    }


.project-spacer {
  padding-bottom: 5vw;
}
.padding-top {
  padding-top: 5vw;
}
.project-wrapper {
  overflow-x: scroll;
  overflow: visible;
}
.project-image {
  margin-bottom: 1.5vw;
  height: 500px;
  width: auto;
}
    @media (max-width: 600px) {
      .project-spacer {
        padding-bottom: 18vw;
      }
      .project-image {
        margin-bottom: 6vw;
      }
    }


    @media (min-width: 601px) {
      .project-left {
        padding-right: 3vw;
      }
      .project-right {
        padding-left: 3vw;
      }
      .project-offset-1 {
      margin-top: 18vw;
      }
      .project-offset-2 {
        margin-top: 36vw;
      }
    }



.about {
  padding: 6vw;
}
    @media (max-width: 600px) {
      .about {
        padding: 6vw;
        padding-bottom: 18vw;
      }
    }
    @media (min-width: 1801px) {
      .about {
        padding: 108px;
      }
    }

.section-spacer {
  margin-bottom: 12vw;
}
    @media (max-width: 600px) {
      .section-spacer {
        margin-bottom: 24vw;
      }
    }

.profile-image {
        padding-top: .5vw;
      }
    @media (max-width: 600px) {
      .profile-image {
        padding-top: 0vw;
        padding-bottom: 12vw;
      }
    }

@media (max-width: 600px) {
  .teaser-image {
      margin-top: 3vw;
  }
  .mobile-arrow {
    margin-top: 3vw;
  }
}

    


.footer {
  padding: 6vw;
  padding-bottom: 12vw;
}
    @media (max-width: 600px) {
      .footer {
        padding: 6vw;
        padding-bottom: 18vh;
      }
    }
    @media (min-width: 1801px) {
      .footer {
        padding: 108px;
        padding-bottom: 324px;
      }
    }




/* ---------   Arrow & Lottie   -------- */


.arrow-explore {
  width: 6vw;
}
.lottie {
  margin-top: .5vw;
}
    @media (max-width: 600px) {
      .arrow-explore {
        width: 12vw;
      }
      .lottie {
        margin-top: 6vw;
      }
    }




/* ---------   Accordion   -------- */


.accordion {
  width: auto;
  background-color: #000;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 0;
/*  padding-top: 1vw;
  padding-bottom: 1vw;*/
  margin-bottom: 3vw;
}

.active, .accordion:hover {
}

.panel {
  display: none;
  overflow: hidden;
  padding-bottom: 1vw;
}
    @media (max-width: 600px) {
      .panel {
/*        padding-top: 3vw;*/
      }
    }

.text-no-margin, .text-no-margin:hover {
  margin-bottom: 0;
}




/* ---------   Carousel / Slider   -------- */


/* -- Slider config --- */

.slider-wrapper {
  position: relative;
}
    @media (max-width: 600px) {
      .slider-wrapper {
        margin-top: 2vw;
      }
      .none-slider-wrapper {
        margin-top: 2vw;
      }
    }

.swiper {
  width: auto;
  height: 100%;
/*  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}
.row, .max-row, .col-md-12, .project-wrapper, .slider-wrapper, .swiper, .mySwiper, .swiper-wrapper {
  overflow: visible !important;
}

.slider-content-text {
  max-width: 41.6vw;
}
.slider-content-image {
  width: fit-content !important;
}


/* -- Image sizing --- */

.img-main {
  height: 50vw;
  width: auto;
}
    @media (max-width: 600px) {
      .img-main {
        height: 100vw;
        width: auto;
      }
    }


/* -- Mobile/desktop content fixes --- */

@media (max-width: 600px) {
  .hidden-desktop {
    display: none !important;
  }
}
@media (min-width: 601px) {
  .hidden-mobile {
    display: none;
  }
}


/* -- Scroll GIF --- */

.scroll-arrow {
  margin-top: 1vw;
}
    @media (max-width: 600px) {
      .scroll-arrow {
        margin-top: 3vw;
      }
    }

.scroll-prompt {
  width: 3.5vw;
  height: auto;
  margin-top: -2px;
  padding-left: .5vw;
}
    @media (max-width: 900px) {
      .scroll-prompt {
        width: 4.5vw;
      }
    }
    @media (max-width: 600px) {
      .scroll-prompt {
        width: 40px;
      }
    }




