/* ----------- FONTS ----------- */


@font-face {
  font-family: 'Circular Book';
  font-style:  normal;
  font-weight: 100;
  src: local(''),
        url('../fonts/CircularStd-Book.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/CircularStd-Book.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Circular Light';
  font-style: normal;
  font-weight: 500;
  src: local(''),
        url('../fonts/CircularStd-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/CircularStd-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* ----------- TYPE STYLES ----------- */

h1, h2 {
  font-family: 'Circular Light';
  font-size: 25vw;
  margin-top: 0;
  margin-bottom: 1vw;
}




/* ----------- STRUCTURE ----------- */

body {
  margin: 5vw;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
a {
  color: black;
}
a:hover {
  color: grey;
}

::-moz-selection { background: #EBEBEB; }
::selection { background: #EBEBEB; }





/* ----------- STRUCTURE ----------- */
