@charset "UTF-8";
/* CSS Document */



/* ---------   Fonts   -------- */

@font-face {
    font-family: 'Circular Light';
    src: url('../fonts/CircularStd-Light.woff2') format('woff2'),
        url('../fonts/CircularStd-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Medium';
    src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Bold';
    src: url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}





/* ---------   Default Overrides   -------- */

html {
  overflow-x: hidden !important;
  width: 100vw;
}
img {
  width: 100%;
}
body {
  margin: 0;
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden !important;
}
::selection {
  background: #6736F3;
}
::-moz-selection {
  background: #6736F3;
}






/* ---------   Text   -------- */

h1, h2, p {
  color: #fff;
  font-family: 'Circular Light';
  font-size: 4vw;
  margin-bottom: 2vw;
  line-height: 1.2;
}
    @media (max-width: 600px) {
      h1, h2, p {
        font-size: 24px;
      }
    }
    @media (min-width: 1801px) {
      h1, h2, p {
        font-size: 74px;
      }
    }

.menu-link {
  font-size: 16px;
  color: #fff;
  font-family: 'Circular Light';
  padding-bottom: 5px;
  margin-bottom: 20px;
  line-height: 1.2;
  pointer-events: none;
  margin-right: 15px;
  text-decoration: none;
  z-index: 200 !important;
  position: relative;
}

.menu-link:hover {
  font-family: 'Circular Light';
  text-decoration: none;
  color: #9F9F9F;
}
    @media (min-width: 787px) {
      .menu-link {
        font-size: 2vw;
      }
    }
    @media (min-width: 1801px) {
      .menu-link {
        font-size: 32px;
      }
    }

.menu-link-inactive {
  border-bottom: 2px solid;
  border-bottom-color: #fff;
  pointer-events: auto;
  z-index: 200;
}
.menu-link-inactive-dark {
  border-bottom-color: #000;
}
    .menu-link-inactive:hover {
      border-bottom-color: #9F9F9F;
    }

.link-large {
  font-size: 4vw;
  margin-bottom: 2vw;
  z-index: 200;
}
    @media (max-width: 600px) {
      .link-large {
        font-size: 24px;
      }
    }
    @media (min-width: 1801px) {
      .link-large {
        font-size: 64px;
      }
    }

.mini-link {
  color: #000;
  text-decoration: underline;
  z-index: 200;
}
.mini-link:hover {
  color: #9F9F9F;
  text-decoration: underline;
}

.text-black {
  color: #000;
}
.text-black-link:hover {
  color: #9F9F9F;
}

.project-name {
  color: #000;
  font-size: 30px;
  font-family: 'Circular Light';
}
.project-name-assorted {
  margin-top: 15px;
}
.project-description {
  color: #000;
  font-size: 18px;
  font-family: 'Circular Light';
  margin-bottom: 10px;
}
.project-description-padding {
  padding-right: 30px;
}

.project-hint {
  color: #000;
  font-size: 18px;
  font-family: 'Circular Light';
}
    @media (max-width: 600px) {
      .project-name {
        font-size: 24px;
      }
      .project-description {
        font-size: 16px;
        line-height: 1.2;
      }
      .project-hint {
        font-size: 16px;
      }
    }

.arrow-explore {
  width: 80px;
  margin-top: 0;
}
    @media (max-width: 600px) {
      .arrow-explore {
        width: 60px;
      }
    }





/* ---------   Layout   -------- */

.container-fluid {
  max-width: 1800px;
}

.header {
  padding: 6vw;
  height: 30vw;
}
    @media (max-width: 600px) {
      .header {
        padding: 3vw;
        padding-top: 5vw;
        height: 60vw;
      }
    }

@media (min-width: 768px) {
  .menu-wrapper {
    float: right;
  }
}
@media (max-width: 769px) {
  .menu-wrapper {
    margin-bottom: 20px;
  }
}

.about {
  padding: 6vw;
}
    @media (max-width: 600px) {
      .about {
        padding: 3vw;
        padding-bottom: 16vw;
      }
    }

.footer {
  padding: 6vw;
  padding-bottom: 12vw;
}
    @media (max-width: 600px) {
      .footer {
        padding: 3vw;
        padding-top: 15vw;
        padding-bottom: 30vw;
      }
    }




/* ---------   Layout Themes   -------- */

.body-light {
  background-color: #fff;
}
.body-purple {
  background-color: #6736F3;
}




/* ---------   Homepage Background   -------- */

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation-name: fade;
  animation-duration: 4s;
}
    @keyframes fade {
      0%   {opacity:0;}
      40%  {opacity:0;}
      100% {opacity:1;}
    }
    .dg {
      opacity: 0;
    }



/* ---------   Homepage SVGs   -------- */

.svg {
  padding-top: 2vw;
}
    @media (max-width: 600px) {
      .svg {
        padding-top: 4vw;
      }
    }
.svg-mobile {
  width: 100%;
}
    @media (min-width: 601px) {
      .svg-mobile {
        display: none;
      }
    }
.svg1-desktop {
  width: 50%;
}
.svg2-desktop {
  width: 100%;
}
.svg3-desktop {
  width: 66%;
}
    @media (max-width: 600px) {
      .svg1-desktop, .svg2-desktop, .svg3-desktop {
        display: none;
      }
    }




/* ---------   Text Animations   -------- */

.text1 {
  animation-name: text1;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
    @keyframes text1 {
      0%   {opacity:0;}
      25%  {opacity:0;}
      100% {opacity:1;}
    }
.text2 {
  animation-name: text2;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
    @keyframes text2 {
      0%   {opacity:0;}
      50%  {opacity:0;}
      100% {opacity:1;}
    }




/* ---------   Slider   -------- */

.slider-wrapper {
  position: relative;
  margin-bottom: 12vw;
}

.swiper {
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.row, .max-row, .col-md-12, .project-wrapper, .slider-wrapper, .swiper, .mySwiper, .swiper-wrapper {
  overflow: visible !important;
}

.item-description {
  margin-left: 6vw;
  height: 100%;
  max-width: 400px;
  width: 25vw;
  min-width: 200px;
}
    @media (max-width: 600px) {
      .item-description {
        margin-left: 3vw;
      }
    }
.item-last {
  margin-right: 6vw;
}
    @media (max-width: 600px) {
      .item-last {
        margin-right: 3vw;
      }
    }


.img-horizontal {
  width: 80vw;
  max-width: 1600px;
}
.img-horizontal-small {
  width: 60vw;
  max-width: 1200px;
}
.img-square-small {
  width: 40vw;
  max-width: 800px;
}
.img-square-large {
  width: 53.43vw;
  max-width: 1067px;
}
.img-vertical {
  width: 40vw;
  max-width: 800px;
}
    @media (max-width: 600px) {
      .img-horizontal {
        width: 100vw;
      }
      .img-horizontal-small {
        width: 75vw;
      }
      .img-square-small {
        width: 50vw;
      }
      .img-square-large {
        width: 66.78vw;
      }
      .img-vertical {
        width: 50vw;
      }
    }







/* ---------   Projects Small (2col, 1 row)   -------- */

.project-wrapper {
  margin: 0;
  padding: 0;
}
.project-wrapper-static {
  margin-bottom: 12vw;
  margin-left: 6vw;
  margin-right: 6vw;
  display: flex;
  width: 100%;
}
    @media (max-width: 600px) {
      .project-wrapper-static {
        display: block;
        margin-left: 3vw;
        margin-right: 3vw;
      }
    }
.static-description {
  display: block;
  width: 400px;
  margin-right: 50px;
}
    @media (max-width: 600px) {
      .static-description {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
.static-description-right {
  display: block;
  width: 500px;
  margin-left: 50px;
}
    @media (max-width: 600px) {
      .static-description-right {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
.static-image {
  flex: 1;
}

.assorted-wrapper {
  margin-bottom: 6vw;
  margin-left: 6vw;
  margin-right: 6vw;
}
    @media (max-width: 600px) {
      .assorted-wrapper {
        margin-left: 3vw;
        margin-right: 3vw;
      }
    }
    @media (max-width: 600px) {
      .assorted-image-spacer {
        margin-top: 6vw;
      }
    }


/* ---------   Projects Large (1col, 2 rows)   -------- */
.static-image-full {
  width: 100%;
  margin-bottom: 1vw;
}
.project-wrapper-static-full {
  margin-bottom: 12vw;
  margin-left: 6vw;
  margin-right: 6vw;
}
    @media (max-width: 600px) {
      .project-wrapper-static-full {
        margin-left: 3vw;
        margin-right: 3vw;
      }
    }
video {
  width: 100%;
}




/* ---------   Mobile Fixes   -------- */

@media (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 601px) {
  .hidden-desktop {
    display: none;
  }
}
.mobile-alignment {
  padding-left: 30px;
  padding-right: 30px;
}
.mobile-project {
  padding-top: 10vw;
  padding-bottom: 10vw;
}
@media (min-width: 601px) {
  .youtube-small {
    max-width: 400px;
    width: 25vw;
    min-width: 200px;
  }
  .urbanic {
    display: block;
  }
}

.mobile-margin-top {
  margin-top: 30px;
}

/* ---------   Desktop Fixes   -------- */
.padding-left-15 {
  padding-left: 15px;
}
.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
